
<ul class="list-unstyled list-social">
    <li><a href="https://www.linkedin.com/in/sodiq-yekeen-337556a5/" target="_blank"><i class="ion-social-linkedin"></i></a></li>
    <li><a href="https://github.com/sodiqyekeen" target="_blank"><i class="ion-social-github"></i></a></li>
    <li><a href="https://web.facebook.com/sodiq.olalekan.zacchaeus" target="_blank"><i class="ion-social-facebook"></i></a></li>
    <li><a href="https://twitter.com/Olatech65" target="_blank"><i class="ion-social-twitter"></i></a></li>
    @*<li><a href="#"><i class="ion-social-tumblr"></i></a></li>
        <li><a href="#"><i class="ion-social-dribbble"></i></a></li>*@
</ul>