@inject HttpClient HttpClient
@if (postResponse == null)
{
    <div class="spinner"></div>
}
else
{
    foreach (var post in postResponse.Posts)
    {
        <div class="col-lg-4 col-md-6">
            <div class="journal-info">
                <NavLink href="@($"blog/{post.Slug}")"><img src="@(post.Thumbnail)" class="img-responsive" alt="img"></NavLink>
                <div class="journal-txt">
                    <h4><NavLink href="@($"blog/{post.Slug}")">@post.Title</NavLink></h4>
                </div>
            </div>
        </div>
    }
}

@code {
    PostResponse postResponse = null;

    protected override async Task OnInitializedAsync()
    {
        var url = "https://api.cosmicjs.com/v1/mysite-blog-testing/objects?pretty=true&hide_metafields=true&type=posts&read_key=hMMgG6PocvEkP0462EBeyL4qU29vqtkoeG7JXnj3V5fieVaHNl&limit=20&props=slug,title,thumbnail";
        postResponse = await HttpClient.GetFromJsonAsync<PostResponse>(url);
    }

}
