<div id="header" class="home">
    <div class="container">
        <div class="header-content">
            <div class="row d-flex align-items-center">
                <div class="col-md-4">
                    <div class="user-img mb-4" style="background-image:url(images/me.jpg)"></div>
                </div>
                <div class="col-md-8">
                    <h2 style="color:#fff;">Hello I'm</h2>
                    <h1><span>Sodiq Yekeen</span></h1>
                    <p>.Net developer</p>
                    <SocialLinks />
                </div>
            </div>

        </div>
    </div>
</div>