@using SodiqYekeen.Site.Models

<div class="entry-comments-item">
    <img src="images/user.png" class="entry-comments-avatar" alt="">
    <div class="entry-comments-body">
        <span class="entry-comments-author">@Item.Username</span>
        <span>@Item.Date.ToString("MMM d, yyyy hh:mm tt")</span>
        <p class="mb-10">@Item.Content</p>
        <a class="rep" href="#">Reply</a>
    </div>
</div>
<ul class="entry-comments-reply list-unstyled">
    <li>
        <div class="entry-comments-item">
            <img src="images/user.png" class="entry-comments-avatar" alt="">
            <div class="entry-comments-body">
                <span class="entry-comments-author">Sara Smith</span>
                <span><a href="#">fev 14, 2018 at 12:51 pm</a></span>
                <p class="mb-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam justo, ullamcorper tincidunt pellentesque in, condimentum ut enim. Aenean at pharetra diam, quis vulputate urna.</p>
                <a class="rep" href="#">Reply</a>
            </div>
        </div>
    </li>
</ul>

@code{
    [Parameter] public Comment Item { get; set; }

    protected override void OnInitialized() => Item = new Comment
    {
        Content = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam justo, ullamcorper tincidunt pellentesque in, condimentum ut enim. Aenean at pharetra diam, quis vulputate urna.",
        Date = DateTime.Now,
        Username = "Test User"
    };
}