<div class="col-md-12">
    <div class="comments text-left padDiv mb-30">
        <div class="entry-comments">
            <h6 class="mb-30">4 comments</h6>
            <ul class="entry-comments-list list-unstyled">
                <li>
                    <CommentItem />
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="col-lg-12">
    <div class="cmt padDiv">
        <CommentForm />
    </div>
</div>