<div class="col-md-12">
    <p style="margin: 0; text-align: center;"><strong>What do you think of this post?</strong></p>
    <div class="sharethis-inline-reaction-buttons"></div>
</div>
<div class="col-md-12">
    <p style="margin: 0; text-align: center;"><strong>Share this:</strong></p>
    <div class="sharethis-inline-share-buttons"></div>
</div>