@page "/about-me"

<div id="about" class="paddsection">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-4 ">
                <div class="div-img-bg">
                    <div class="about-img">
                        <img src="images/me.jpg" class="img-responsive" alt="me">
                    </div>
                </div>
            </div>

            <div class="col-lg-7">
                <div class="about-descr">

                    <p class="p-heading text-justify">I am an experienced .NET Developer possessing the ability to write efficient, scalable, and secure backend codes that processes background tasks or adds utility to a front-end developer design while solving the intended problem.</p>
                    <p class="separator text-justify">I am passionate about the impact my skills can have in the world and strongly believe I can create innovative solutions that will transform business processes and accelerate the efficiency and effectiveness of organization’s success.</p>

                </div>

            </div>
        </div>
    </div>
</div>
@*<div id="contact" class="paddsection">
    <div class="container">
        <div class="contact-block1">
            <div class="row">
                <div class="col-lg-6">
                    <div class="contact-contact">

                        <h2 class="mb-30">GET IN TOUCH</h2>

                        <ul class="contact-details">
                            <li><i class="ion-android-phone-portrait" /> <span>+234 8108705301</span></li>
                            <li><i class="ion-android-mail" /> <span>sodiq.yekeen.o@gmail.com</span></li>
                        </ul>

                    </div>
                </div>

                <div class="col-lg-6">
                    <ContactForm />
                </div>
            </div>
        </div>
    </div>
</div>*@

@code {

}
