@page "/"
@using SodiqYekeen.Site.Components.Home

<Header />
@*<div id="about" class="paddsection">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Not Your Averge Software Developer</h1>
                <p class="lead">I breather life into ideas.</p>
            </div>
        </div>
    </div>*@
<!-- start section journal -->
@*<div id="journal" class="text-left paddsection">
    <div class="container">
        <div class="section-title text-center">
            <h2>journal</h2>
        </div>
    </div>
    <div class="container">
        <div class="journal-block">
            <div class="row">
                <BlogGrid />
            </div>
        </div>
    </div>
</div>*@
<!-- End section journal -->
