@page "/"
<!-- start section header -->
<div id="header" class="home">
    <div class="container">
        <div class="header-content">
            <div class="row d-flex align-items-center">
                <div class="col-md-4">
                    <div class="user-img mb-4" style="background-image:url(images/me.jpg)"></div>
                </div>
                <div class="col-md-8">
                    <h2 style="color:#fff;">Hello I'm</h2>
                    <h1><span>Sodiq Yekeen</span></h1>
                    <p>.Net developer</p>
                    <SocialLinks />
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End section header -->

<!--<div id="journal" class="text-left paddsection">

    <div class="container">
        <div class="section-title text-center">
            <h2>journal</h2>
        </div>
    </div>

    <div class="container">
        <div class="journal-block">
            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <div class="journal-info">-->

                        @*<a href="blog-single.html"><img src="images/blog-post-1.jpg" class="img-responsive" alt="img"></a>*@

                        <!--<div class="journal-txt">

                            <h4><a href="blog-single.html">SO LETS MAKE THE MOST IS BEAUTIFUL</a></h4>
                            <p class="separator">
                                To an English person, it will seem like simplified English
                            </p>

                        </div>

                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="journal-info">-->

                        @*<a href="blog-single.html"><img src="images/blog-post-2.jpg" class="img-responsive" alt="img"></a>*@

                        <!--<div class="journal-txt">

                            <h4><a href="#blog-single.html">WE'RE GONA MAKE DREAMS COMES</a></h4>
                            <p class="separator">
                                To an English person, it will seem like simplified English
                            </p>

                        </div>

                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="journal-info">-->

                        @*<a href="blog-single.html"><img src="images/blog-post-3.jpg" class="img-responsive" alt="img"></a>*@

                        <!--<div class="journal-txt">

                            <h4><a href="blog-single.html">NEW LIFE CIVILIZATIONS TO BOLDLY</a></h4>
                            <p class="separator">
                                To an English person, it will seem like simplified English
                            </p>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>-->
