@page "/"
@using SodiqYekeen.Site.Components.Home

<Header />
@*<div id="about" class="paddsection">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Not Your Averge Software Developer</h1>
            <p class="lead">I breather life into ideas.</p>
        </div>
    </div>
</div>*@